body {
    margin: 0;
    padding: 0;
    font-family: 'Jost', sans-serif;
    background-image: url("assets/bg-img1.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}

.main {
    width: 350px;
    height: 556px;
    overflow: hidden;
    background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0") no-repeat center/ cover;
    border-radius: 10px;
    box-shadow: 5px 20px 50px #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#chk { display: none; }

.signup { position: relative; width: 100%; height: 100%; }

.signup label, .login label {
    color: #fff;
    font-size: 2.3em;
    justify-content: center;
    display: flex;
    margin: 45px; 
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease-in-out;
}

.main input {
    width: 65%;
    height: 35px; 
    background: #e0dede;
    justify-content: center;
    display: flex;
    margin: 15px auto; 
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.main button {
    width: 60%;
    height: 40px;
    margin: 10px auto;
    justify-content: center;
    display: block;
    color: #fff;
    background: #0a5555;
    font-size: 1em;
    font-weight: bold;
    margin-top: 25px;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: .2s ease-in;
    cursor: pointer;
}

.login {
    height: 520px; 
    background: #eee;
    border-radius: 60% / 10%;
    transform: translateY(-200px); 
    transition: .8s ease-in-out;
}

.login label { color: #0a5555; transform: scale(.6); }

#chk:checked ~ .login { 
    transform: translateY(-530px); 
}

#chk:checked ~ .login label { transform: scale(1); }
#chk:checked ~ .signup label { transform: scale(.6); }

.header-bg { background-color: #0a5555; border-radius: 10px; }
.profile-info #displayData { list-style: none; color: #eee; font-weight: bold; }